:root {
    --sh1: #7799FF;
    --sh2: #99bbff;
    --bg1: #eeeeff;
    --bg2: #aaccff;
    --accent: 0, 60, 255;
    --acc: var(--accent);
    --ui1: rgb(255, 255, 255, 0.6);
    --ui2: #ffffff;
    --ui3: #ededed;
    --bc: rgb(220, 220, 220, 0.4);
    --font: #000;
    --bl1: 10px;
    --bl2: 7px;
    --rad1: 16px;
    --rad2: 12px;
    --rad3: 10px;
    --fz1: 15px;
    --fz2: 14px;
    --fz3: 13px;
    --fz4: 12px;
    --inv: 0;
    --wina: 0px;
}

#background {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: var(--bg1);
}

@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'PoppinsB';
    src: url(./fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'PoppinsM';
    src: url(./fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'MonoS';
    src: url(./fonts/mono.ttf);
}

body {
    background-color: #000;
    animation: fade 0.7s;
    color: var(--font);
    font-family: 'Poppins', Arial;
    text-align: center;
    font-size: var(--fz1);
}

.bold {
    font-family: "PoppinsB";
}

.med {
    font-family: "PoppinsM";
}

.smtxt {
    font-size: var(--fz2);
}

html,
body {
    overscroll-behavior: none;
}

button {
    cursor: pointer;
    font-family: 'PoppinsM', Arial;
    color: var(--font);
}

.center {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes fade {
    0% {
        opacity: 0%;
    }

    10% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.setupi {
    width: 50px;
    height: 50px;
    border-radius: 13px;
}

p {
    padding: 0px;
    margin: 3px;
    font-family: 'Poppins', Arial;
    font-size: var(--fz1);
    filter: invert(var(--inv));
}

@media (max-width:400px) {
    .setup {
        width: 85% !important;
    }

    .winb {
        width: 15px !important;
        height: 15px !important;
        margin-right: 9px;
    }

    @media (max-height:700px) {
        .setup {
            height: 80% !important;
        }
    }
}

.setupbox {
    position: fixed;
    transform: translate(-50%, -50%) scale(1.0);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 150px 30px;
    left: 50%;
    top: 50%;
    padding: 6px;
    border: 1px solid var(--bc);
    background-color: var(--ui1);
    border-radius: var(--rad1);
    max-width: 85% !important;
    max-height: 85% !important;
    animation: setup 1.4s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    width: 550px;
    height: 405px;
    overflow: auto !important;
    z-index: 4 !important;
}

.setb {
    padding: 8px;
    overflow: auto !important;
    padding-bottom: 25px;
}

@keyframes winanim {
    0% {
        transform: scale(0.5);
        opacity: 0%;
    }

    100% {
        transform: scale(1);
        opacity: 100%;
    }
}

.window {
    position: absolute;
    border-radius: var(--rad1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 150px 30px;
    border: 1px solid var(--bc);
    width: auto;
    height: auto;
    z-index: 5;
    background-color: var(--ui1);
    overflow: auto !important;
    -webkit-backdrop-filter: blur(var(--bl1));
    backdrop-filter: blur(var(--bl1));
    resize: both;
    animation: winanim 0.3s ease;
    min-width: 80px;
    min-height: 50px;
}

.content {
    padding: 10px;
}

.tb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
    padding-left: 11px;
    padding-right: 11px;
    background-color: var(--ui2);
    width: 100%;
    box-sizing: border-box;
    user-select: none;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom: 1px solid var(--bc);
    transition: 0.05s;
    z-index: 9999;
}

.tnav {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.title {
    flex-grow: 1;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 2px;
}

.winb {
    width: 14px;
    height: 14px;
    padding: 0px !important;
    border: none;
    margin-right: 7px;
    border-radius: 50%;
    background-color: rgba(127, 127, 127, 0.5);
    cursor: default !important;
    box-sizing: border-box;
}

.winb:active {
    opacity: 50%;
}

.red {
    background-color: rgb(255, 59, 48);
}

.yel {
    background-color: rgb(255, 204, 0);
}

.gre {
    background-color: rgb(52, 199, 89);
}

.setupbar {
    width: 100%;
    border: 1px solid var(--bc);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    border-radius: var(--rad2);
    text-align: left;
    margin-bottom: 12px;
    background-color: var(--ui1);
}

.title {
    flex-grow: 1;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tnav {
    display: flex;
}

@keyframes setup {
    0% {
        transform: translate(-50%, -50%) scale(0.1);
    }

    5% {
        transform: translate(-50%, -50%) scale(0.1);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.h2 {
    font-size: 20px;
    font-family: 'PoppinsM', Arial;
}

.b2 {
    width: 100%;
    box-sizing: border-box;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.b1 {
    background-color: rgba(var(--acc), 0.40);
    border-radius: var(--rad2);
    font-size: var(--fz1);
    padding: 4px 7px;
    margin: 1px;
    transition: 0.07s ease-in-out;
    cursor: pointer;
    border: 2px solid transparent;
    color: var(--font);
}

.b1:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 4px;
    border: 2px solid rgba(var(--acc), 0.7);
}

.b1:active {
    transform: scale(0.88);
    background-color: rgba(var(--acc), 0.5);
}

.b3 {
    padding: 2px 6px;
    border-radius: 8px;
    background-color: rgba(var(--accent), 0.35);
    font-size: var(--fz1);
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.07s ease;
    margin: 1px;
}

.b3:hover {
    background-color: rgba(var(--accent), 0.45);
    border: 2px solid rgba(var(--accent), 0.65);
}

.b3:active {
    background-color: rgba(var(--accent), 0.45);
    transform: scale(0.90);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.b5 {
    padding: 2px;
    border-radius: 8px;
    background-color: rgba(var(--accent), 0.5);
    font-size: var(--fz2);
    border: none;
    cursor: pointer;
    transition: all 0.05s ease-in-out;
    margin-left: 4px;
}

.b4 {
    padding: 1px 3px;
    border-radius: 8px;
    background-color: rgba(var(--accent), 0.25);
    font-size: var(--fz4);
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.05s ease-in-out;
    margin: 1px;
}

.b4:hover {
    border: 1px solid rgba(var(--accent), 0.35);
}

.b4:active {
    background-color: rgba(var(--accent), 0.35);
    border-color: rgba(var(--accent), 0.8);
    transform: scale(0.90);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.hide {
    display: none;
}

@media (max-width:1030px) {

    .circle,
    .circle2 {
        width: 35vw !important;
        height: 35vw !important;
    }

    .circle {
        left: -13vw;
        top: -13vw;
    }

    .circle2 {
        bottom: -13vw;
        right: -13vw;
    }

    @keyframes circle2 {
        0% {
            right: -70vw;
            bottom: -70vw;
        }

        100% {
            right: -13vw;
            bottom: -13vw;
        }
    }

    @keyframes circle {
        0% {
            left: -70vw;
            top: -70vw;
        }

        100% {
            left: -13vw;
            top: -13vw;
        }
    }
}

@media (max-width:600px) {

    .circle,
    .circle2 {
        width: 50vw !important;
        height: 50vw !important;
    }

    .circle {
        left: -17vw;
        top: -17vw;
    }

    .circle2 {
        bottom: -17vw;
        right: -17vw;
    }

    @keyframes circle2 {
        0% {
            right: -70vw;
            bottom: -70vw;
        }

        100% {
            right: -17vw;
            bottom: -17vw;
        }
    }

    @keyframes circle {
        0% {
            left: -70vw;
            top: -70vw;
        }

        100% {
            left: -17vw;
            top: -17vw;
        }
    }
}

@media (min-width: 1030px) {

    .circle,
    .circle2 {
        width: 24vw;
        height: 24vw;
    }

    .circle {
        left: -10vw;
        top: -10vw;
    }

    .circle2 {
        right: -10vw;
        bottom: -10vw;
    }

    @keyframes circle {
        0% {
            left: -38vw;
            top: -38vw;
        }

        100% {
            left: -10vw;
            top: -10vw;
        }
    }

    @keyframes circle2 {
        0% {
            right: -38vw;
            bottom: -38vw;
        }

        100% {
            right: -10vw;
            bottom: -10vw;
        }
    }
}

::-webkit-scrollbar {
    width: 8px;
    pointer-events: auto;
}

::-webkit-scrollbar-track {
    background: var(--ui1);
    border-radius: 5px;
    pointer-events: auto;
}

::-webkit-scrollbar-thumb {
    background: rgba(var(--accent), 0.4);
    border-radius: 5px;
    pointer-events: auto;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--accent), 0.55);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(var(--accent), 0.7);
}

.circle {
    position: fixed;
    background: linear-gradient(45deg, var(--sh1), var(--sh2));
    border-radius: 50%;
    z-index: 0;
    box-shadow: var(--sh2) 0px 0px 300px 60px;
    animation: circle 1.35s ease;
}

.circle2 {
    position: fixed;
    background: linear-gradient(45deg, var(--sh1), var(--sh2));
    border-radius: 50%;
    z-index: 0;
    box-shadow: var(--sh2) 0px 0px 300px 60px;
    animation: circle2 1.35s ease;
}

.t1 {
    padding: 5px;
    border-radius: var(--rad2);
    border: 2px solid rgba(var(--accent), 0.42);
    background-color: rgba(var(--accent), 0.25);
    font-size: var(--fz1);
    color: var(--fontc);
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    font-family: 'PoppinsM', Arial;
    margin-bottom: 2px;
    outline: none;
}

.i1 {
    padding: 5px 7px;
    border-radius: var(--rad2);
    border: 2px solid rgba(var(--accent), 0.5);
    background-color: rgba(var(--acc), 0.4);
    font-size: var(--fz1);
    color: var(--fontc);
    width: 100%;
    box-sizing: border-box;
    font-family: 'PoppinsM', Arial;
    margin-bottom: 2px;
    transition: 0.05s;
    outline: none;
}

.i1:focus {
    background-color: rgba(var(--accent), 0.38);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 4px;
}

#notif {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 45px;
    width: 250px;
    padding: 10px;
    overflow-x: visible;
    overflow-y: auto !important;
    padding-left: 50px;
    z-index: 9999;
    pointer-events: none;
    max-width: 80%;
}

@keyframes notif {
    0% {
        opacity: 0%;
        transform: scale(0.3);
    }

    62% {
        transform: scale(1.05);
    }

    100% {
        opacity: 100%;
        transform: scale(1.0);
    }
}

.notif {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--ui1);
    border: 1px solid var(--bc);
    padding: 9px;
    border-radius: var(--rad1);
    margin-bottom: 5px;
    animation: notif 0.45s ease-out;
    text-align: left;
    -webkit-backdrop-filter: blur(var(--bl1));
    backdrop-filter: blur(var(--bl1));
    pointer-events: auto;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 0px 40px 8px;
}

.notif:hover .b4 {
    background-color: rgba(var(--accent), 0.35);
}

.notif2 {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--bordercolor);
    padding: 7px;
    border-radius: var(--rad2);
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: var(--fz2) !important;
    background-color: var(--ui2);
}

.list {
    padding: 7px;
    background-color: var(--ui2);
    border-radius: var(--rad2);
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
    margin: 1px;
}

.rb {
    background-color: rgba(230, 30, 30, 0.5);
}

.yb {
    background-color: rgba(255, 220, 30, 0.5);
}

.taskbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding: 4px;
    border-top-left-radius: var(--rad1);
    border-top-right-radius: var(--rad1);
    background-color: var(--ui1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 75px 15px;
    animation: tb 0.5s ease;
    backdrop-filter: blur(var(--bl2));
    -webkit-backdrop-filter: blur(var(--bl2));
    z-index: 3;
    overflow-x: auto !important;
    white-space: nowrap;
    border-top: 1px solid var(--bc);
}

.taskbar button {
    padding: 3px 5px;
    font-size: var(--fz2);
}

@keyframes tb {
    0% {
        bottom: -90px;
    }

    70% {
        bottom: 4px;
    }

    100% {
        bottom: 0px;
    }
}

.cm {
    position: fixed;
    left: 50%;
    top: 50%;
    padding: 14px;
    border-radius: var(--rad1);
    background-color: var(--ui2);
    border: 1px solid var(--bc);
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 75px 15px;
    z-index: 9998;
    width: 250px;
    max-width: 85%;
    max-height: 85%;
    overflow: auto !important;
}

.tbmenu {
    position: fixed;
    border-radius: var(--rad1);
    border: 1px solid var(--bc);
    background-color: var(--ui1);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 75px 15px;
    backdrop-filter: blur(var(--bl2));
    -webkit-backdrop-filter: blur(var(--bl2));
    padding: 7px;
    max-width: 80%;
    max-width: 360px;
    max-height: 70%;
    z-index: 9998;
    animation: tb2 0.2s ease-out;
    overflow-y: auto !important;
}

.tbmenu::-webkit-scrollbar {
    display: none;
}


@keyframes tb2 {
    0% {
        bottom: 115px;
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.flist {
    background-color: transparent;
    font: var(--font);
    padding: 4px;
    border: none;
    border-radius: 9px;
    font-family: 'PoppinsB', Arial;
}

.flist:hover {
    background-color: rgba(var(--accent), 0.3);
}

.msg {
    background-color: transparent;
    font: var(--font);
    padding: 4px;
    border: none;
    border-radius: 9px;
    font-family: 'PoppinsB', Arial;
}

.mesent {
    background-color: rgba(var(--acc), 0.3);
}

.width {
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', Arial !important;
}

.flists {
    background-color: transparent;
    font: var(--font);
    padding: 1px;
    border: none;
    border-radius: 9px;
    font-family: 'PoppinsB', Arial;
}

.embed {
    border-radius: var(--rad3);
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    resize: both;
    overflow: auto;
    max-height: 75%;
    vertical-align: middle;
    border: none !important;
}

.nest {
    background-color: var(--ui2);
    resize: none !important;
    padding: 6px;
    overflow: auto !important;
}

.warn {
    color: #933;
}

@keyframes snack {
    0% {
        bottom: 80px;
        opacity: 0%
    }

    65% {
        bottom: 40px;
    }

    100% {
        bottom: 45px;
        opacity: 100%;
    }
}

.snack {
    position: fixed;
    left: 50%;
    bottom: 45px;
    transform: translate(-50%, -50%);
    padding: 8px 12px;
    border-radius: var(--rad1);
    background-color: var(--ui2);
    z-index: 9999;
    animation: snack 0.5s ease-in-out;
}

.greyp {
    color: #aaa;
}

a {
    color: var(--fz1);
    transition: 0.05s;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    opacity: 0.8;
}

a:active {
    opacity: 0.6;
}

@keyframes wiggle {
    0% { transform: translate(0, 0) rotate(0deg); }
    10% { transform: translate(-1.5px, 1.5px) rotate(0.75deg); }
    20% { transform: translate(1.5px, -1.5px) rotate(-1.125deg); }
    30% { transform: translate(-2.25px, 0.75px) rotate(1.35deg); }
    40% { transform: translate(2.25px, -0.75px) rotate(-1.5deg); }
    50% { transform: translate(0.75px, 2.25px) rotate(0deg); }
    60% { transform: translate(-1.5px, -0.75px) rotate(0.75deg); }
    70% { transform: translate(1.5px, -2.25px) rotate(-1.35deg); }
    80% { transform: translate(-0.75px, 1.5px) rotate(1.125deg); }
    90% { transform: translate(2.25px, -0.75px) rotate(-0.75deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

.split {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 75%;
}

.splititem {
    max-width: 50%;
    text-align: center;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding: 10px;
}

.splititem img {
    border-radius: 8px;
    border: 1px solid #000;
}

.splititem p {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.splititem:first-child {
    border-right: 2px solid #444;
}

@media (max-width: 768px) {
    .splititem {
        width: 100%;
        max-width: 100% !important;
    }
}

.max {
    position: fixed;
    left: 0px !important;
    top: 0px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    transition: 0.3s all ease !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 10;
    border-radius: 0px;
}

.unmax {
    transition: 0.3s;
}

.window.max .tb {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.lockscreen {
    position: fixed;
    left: 0px; 
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 9998;
    background-color: #000;
    display: none;
    cursor: none !important;
}

.locki {
    width: 50px;
    height: auto;
    border: none;
    margin: 0px;
    padding: 0px;
    border-radius: 14px;
    background-color: #1f1f1f;
    box-shadow: #4a4a4a 0px 0px 200px 40px;
}